.customList {
	position: relative;
	min-width: 10rem;
	max-width: 10rem;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: rgb(232, 185, 193);
}

.custom-list-group {
	text-align: center;

	justify-content: center;
	align-items: center;
	gap: 2rem;
	font-weight: 600;
	font-size: 20px;
}

.customList:hover {
	background-color: rgb(255, 243, 243);
	border: none;
}
